@font-face {
	font-family: Arcade;
	src: url('../Fuentes/Arcade.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: HighPixel;
	src: url('../Fuentes/high_pixel-7.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: Vcr;
	src: url("../Fuentes/vcr-mono.ttf") format("truetype");
}

@font-face {
	font-family: Ka-Ching;
	src: url("../Fuentes/ka1.ttf") format("truetype");
}